.section {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 0px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.section>div {
  margin: 10px;
}

img.section2 {
  max-width: 100%;
  height: auto;
}

input {
  margin-top: 20px;
  margin-left: 40%;
}