.all{
    margin-top: 20px;
}


.drop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button5 {
    margin-left: 100px;
}

.card1 {
    margin-right: 6%;
}

.title,
.discription {
    margin-left: 15%;
}

.card1-button {
    margin-left: 20%;
}

.model{
    background: #00000086;
    height: 100vh;
}


@media (max-width:766px) {

    .all{
        margin-top: 40px;
    }
    .buttons{
        margin-left: 10px;
    }
    button{
        margin-left: 10px;
    }
}

@media (max-width:650px) {
    .all{
        margin-top: 80px;
    }
    .drop {
        display: block;
    }
    .card1 {
        margin-left: 6%;
    }
}


@media (max-width:576px) {

    .drop{
        /* margin-right: -8%; */
    }
    .task{
        display: block;
        margin-right: -8%;
    }

    .your-task {
        text-align: center;
        margin-left: 20%;

    }

    .buttons {
        /* margin-right: %; */
    }

    .card1 {
        margin-top: -20px;
    }
}

